# This is a sample configurations file.

# If enabled system will use let's encrypt
# staging servers to generate certs
DEBUG=Enable

# Set the API key for NS1
SSL_API_KEY=<YOUR API KEY>

# Domain name of the site
SITE_HOSTNAME=www.yourdomain.com

# Domain name of the socket
SOCKET_HOSTNAME=sws.yourdomain.com

