# This is a sample configurations file.

# To disable debug just commnet out the variable.
DEBUG=1

# Set the API key for NS1
SSL_API_KEY=<YOUR API KEY>

# Domain name of the site
SITE_HOSTNAME=www.yourdomain.com

# Domain name of the socket
SOCKET_HOSTNAME=sws.yourdomain.com

